.movieCard {
  cursor: pointer;
  width: 160px;
  margin: 16px;
}

.movieCard > img {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.emptyMovieCard {
  height: 100%;
  width: 100%;
  background-color: gray;
  color: white;
  text-align: center;
}
