:root {
  --color-primary: #d8566b;
  --color-secondary: #9223a3;
  --color-tertiary: #f9dd23;
  --color-background-1: #101330;
  --color-background-2: #161030;

  --font-size--large: 1.2rem;
}

@font-face {
  font-family: "VCR_OSD_MONO";
  src: local("VCR_OSD_MONO"), url(./fonts/VCR_OSD_MONO.ttf) format("truetype");
}

body {
  background-color: var(--color-background-1);
}
